<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg"
    alt=""
    srcset=""/>
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel consectetur mauris. Proin elit sem, dignissim
      dapibus
      nibh sed, porttitor posuere leo. Nulla a facilisis magna. Maecenas vel leo velit. Sed vel varius purus. Nullam
      porttitor
      varius venenatis.
    </a>
  </p>
  </div>
</div>
